In [2]:
import pandas as pd
df = pd.read_csv('Groceries_dataset.csv')

In [3]:
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [4]:
# Making dateformat compatible for SQL
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')

In [5]:
df.head()

   Member_number       Date   itemDescription
0           1808 2015-07-21    tropical fruit
1           2552 2015-01-05        whole milk
2           2300 2015-09-19         pip fruit
3           1187 2015-12-12  other vegetables
4           3037 2015-02-01        whole milk

In [6]:
df.to_csv('transactions.csv', index=False)